# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.pyc

# Virtual environment
venv/
env/
ENV/
.venv

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
*.pot

# Django secret key
.env
.env.local

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store
